PORT=3333
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

FIREBASE_PROJECT_ID=flowcharts-2026

SUPABASE_URL=https://qktevmdrwofsezzgajjx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFrdGV2bWRyd29mc2V6emdhamp4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDU1MDUyNiwiZXhwIjoyMDkwMTI2NTI2fQ.Rv_d0pkb0N6tF62xsNi8h-HfcT5jKGhmrMXrLrkyNPA

WORKSPACE_JWT_SECRET=a29031329d34be19b92b6eae722b77846db1e143f3b1f5b5c1ec16acad368ac3
ACCESS_CODE_FALLBACK=FLOW-2026