MP_BASE_URL=https://api.mercadopago.com
MP_ACCESS_TOKEN=
MP_NOTIFICATION_URL=
MP_WEBHOOK_SECRET=

CF_ACCOUNT_ID=
CF_R2_ACCESS_KEY_ID=
CF_R2_SECRET_ACCESS_KEY=
CF_R2_BUCKET=
CF_R2_PUBLIC_BASE_URL=
PROJECT_DEFAULT_ENVIRONMENTS=dev,hml,prod

ADMIN_ELEVATION_TTL_MINUTES=30
ADMIN_REAUTH_MAX_AGE_SECONDS=300
